// .x.
// .╵.
// ...
//
// ...
// .╶x
// ...
//
// ...
// .╷.
// .x.
//
// ...
// x╴.
// ...
//
// .x.
// .└x
// ...
//
// ...
// .┌x
// .x.
//
// ...
// x┐.
// .x.
//
// .x.
// x┘.
// ...
//
// .x.
// .│.
// .x.
//
// ...
// x─x
// ...
//
// .x.
// .├x
// .x.
//
// ...
// x┬x
// .x.
//
// .x.
// x┤.
// .x.
//
// .x.
// x┴x
// ...
//
// .x.
// x┼x
// .x.
//
// ...
// .◻.
// ...

// All remaining use last

// .x.
// x┼x => 0b01011010 = '┼'
// .x.
// 
// .x.
// .├x => 0b01001010 = '├'
// .x.

GlyphMap(
    original: '#',
    mapping: {
        0b01011010: '┼',
        0b01001010: '├',
    }
)